body {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    background: linear-gradient(to bottom, #e8f5e9, #c8e6c9);
    color: #775D43;
}

.forest-container {
    background: #f3f9f1;
    padding: 1.25rem;
    box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

/* Header */
.forest-header {
    display: flex;
    background: #6EBF72;
    border-radius: 0.9375rem;
    color: white;
    padding: 0.9375rem;
    align-items: center;
}

.forest-header .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem #1D743B;
}

.forest-header .logo {
	width: 50px;
    height: 50px;
    object-fit: cover;
}
.forest-header .form-control {
	border-radius: 0.375rem;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar {
    margin-right: auto; /* 검색창을 왼쪽 끝으로 정렬 */
}

.user-info {
	display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-img {
    width: 50px; /* 프로필 이미지 너비 */
    height: 50px; /* 프로필 이미지 높이 */
    object-fit: cover; /* 이미지를 정사각형으로 유지 */
}

/* 버튼 */
.btn-forest {
    background: #A5D6A7;
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.375rem;
    transition: transform 0.3s, background 0.3s;
}

.btn-forest:hover {
    background: #977963;
}

/* 내가 가입한 동호회 */
.scroll-container {
    display: flex; /* 가로 배치를 위한 Flexbox */
    flex-wrap: nowrap; /* 행을 넘어가지 않도록 설정 */
    overflow-x: auto; /* 가로 스크롤 활성화 */
    padding-bottom: 1rem; /* 아래쪽 여백 */
}

.scroll-container::-webkit-scrollbar {
    height: 8px; /* 스크롤바 높이 설정 */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #aaa; /* 스크롤바 색상 */
    border-radius: 4px; /* 스크롤바 둥글기 */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 트랙 색상 */
}

.category-button {
    background-color: #f1f8e9;
    color: #4caf50;
    border: 0.0625rem solid #81c784;
    border-radius: 1.875rem;
    padding: 0.3125rem 0.9375rem;
    margin: 0.3125rem;
}

.category-button:hover {
    background-color: #c8e6c9;
    color: #2e7d32;
}

.category-button.active {
	background-color: #c8e6c9;
    color: #2e7d32;
}

/* 동호회 목록 */
.club-card, .club-card-lg  {
    background: white;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    padding: 0.9375rem;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.club-card-lg  {
	padding: 1.5rem;
	align-items: top;
}

.club-card img {
    width: 10vh;
    height: auto;
    object-fit: cover;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
}

.club-card-lg img {
	width: 12vh;
    height: auto;
    object-fit: cover;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
}

.club-info {
    flex-grow: 1;
    text-align: left;
}

a.club-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상 초기화 (부모 요소의 색상 사용) */
}

/* 자식 요소 스타일이 변경되지 않도록 보호 */
a.club-link * {
    text-decoration: none; /* 모든 자식 요소에서 밑줄 제거 */
}

.form-label {
    color: #84540f;
}

/* 글자 넘침 */
.text-ellipsis-online {
    display: -webkit-box;
    -webkit-line-clamp: 1;  /* 최대 2줄까지 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-ellipsis {
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 왼쪽 정렬 */
.align-items-start {
	align-items: flex-start;
}

.img-fluid {
	width: 6.25rem;
    height: auto; 
    margin-right: 1.25rem;
}

.forest-search-group {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.forest-border {
	border: 0.0625rem solid #775D43;
}

.category-select {
    margin-top: 1rem;
}

.hide {
    display: none;
}

/* 카테고리 뱃지 */
.bg-category {
	background: #977963;
	font-size: 0.9rem;
}