body {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    background: linear-gradient(to bottom, #e8f5e9, #c8e6c9);
    color: #4d774e;
}

.forest-container {
    background: #f3f9f1;
    padding: 1.25rem;
    box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.forest-header {
    display: flex;
    background: #6EBF72;
    border-radius: 0.9375rem;
    color: white;
    padding: 0.9375rem;
    align-items: center;
}

.forest-header .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0.125rem 0.125rem #1D743B;
}

.forest-header .logo {
	width: 50px;
    height: 50px;
    object-fit: cover;
}
.forest-header .form-control {
	border-radius: 0.375rem;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar {
    margin-right: auto; /* 검색창을 왼쪽 끝으로 정렬 */
}

.user-info {
	display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-img {
    width: 50px; /* 프로필 이미지 너비 */
    height: 50px; /* 프로필 이미지 높이 */
    object-fit: cover; /* 이미지를 정사각형으로 유지 */
}

.btn-forest {
    background: #A5D6A7;
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.375rem;
    transition: transform 0.3s, background 0.3s;
}

.btn-forest:hover {
    background: #977963;
}

.category-button {
    background-color: #f1f8e9;
    color: #4caf50;
    border: 0.0625rem solid #81c784;
    border-radius: 1.875rem;
    padding: 0.3125rem 0.9375rem;
    margin: 0.3125rem;
}

.category-button:hover {
    background-color: #c8e6c9;
    color: #2e7d32;
}

.category-button.active {
	background-color: #c8e6c9;
    color: #2e7d32;
}

.club-card {
    background: white;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    padding: 0.9375rem;
    text-align: center;
}

a.club-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상 초기화 (부모 요소의 색상 사용) */
}

/* 자식 요소 스타일이 변경되지 않도록 보호 */
a.club-link * {
    text-decoration: none; /* 모든 자식 요소에서 밑줄 제거 */
}

.club-card img {
    width: 60%;
    height: auto;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
}

.form-label {
    color: #84540f;
}
        
.text-ellipsis {
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d-flex {
	display: flex;
} 

.align-items-start {
	align-items: flex-start;
}

.img-fluid {
	width: 6.25rem;
    height: auto; 
    margin-right: 1.25rem;
}

.forest-search-group {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.forest-border {
	border: 0.0625rem solid #775D43;
}

.category-select {
    margin-top: 1rem;
}

.hide {
    display: none;
}
