<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fiveleaves.mapper.BoardMapper">

<select id="getList" parameterType="Long" resultType="BoardDTO">
<![CDATA[
    select board_no, board_Title, board_content, view_count, regdate, club_no, user_no , u.nickname as
    from boards b
    join users u on b.user_id = u.user_id
    where board_no > 0 and club_no = #{clubNo}
]]>
</select>

<select id="getListWithPaging" resultType="net.fiveleaves.domain.BoardDTO">
	<![CDATA[
		SELECT b.board_no, b.board_title, b.board_content, b.user_no, b.club_no, b.regdate, b.updateDate, u.nickname
		FROM (SELECT /*+INDEX_DESC(boards pk_boards) */
			  ROWNUM rn, board_no, board_title, board_content, user_no, club_no, regdate, updateDate
			  FROM boards
			  WHERE ROWNUM <= #{pageNum} * #{amount}) b
		JOIN users u ON b.user_no=u.user_no
		WHERE rn > (#{pageNum} -1) * #{amount}
		AND club_no=#{clubNo}
	]]>
</select>

<select id="read" resultType="net.fiveleaves.domain.BoardDTO">
    select board_no, board_title, board_content, view_count, regdate, updateDate, club_no, user_no from boards where board_no = #{boardNo}
</select>

<insert id="insert">
    insert into boards (board_no, board_title, board_content, user_no, club_no)
    values (boards_seq.nextval, #{boardTitle}, #{boardContent}, #{userNo}, #{clubNo})	
</insert>

<insert id="insertSelectKey">
  
  <selectKey keyProperty="boardNo" order="BEFORE"
    resultType="long">
    select boards_seq.nextval from dual
  </selectKey>
  
    insert into boards (board_no, board_title, board_content, user_no, club_no)
    values (#{boardNo}, #{boardTitle}, #{boardContent}, #{userNo}, #{clubNo})  
</insert>

<delete id="delete">
	delete from boards where board_no = #{boardNo}
</delete>

<update id="update">
	update boards
	set board_title = #{boardTitle},
	board_content = #{boardContent},
	user_no = #{userNo},
	club_no = #{clubNo},
	updateDate = sysdate
	where board_no = #{boardNo}
</update>

<select id="getTotalCount" resultType="int">
	SELECT COUNT(*) FROM boards WHERE board_no >0
</select>

<select id="getUserAndClubInfo" resultType="map" parameterType="string">
	SELECT u.user_no AS userNo,
		   u.nickname AS nickname,
		   c.club_no AS clubNo
	FROM users u, club_logs c
	WHERE u.user_no=c.user_no(+)
		  AND u.username=#{username}
</select>

</mapper>