<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fiveleaves.mapper.ReplyMapper">

	<insert id="insert">
		INSERT INTO replies (reply_no, reply_content, user_no, board_no, updateDate, replyDate )
		VALUES (replies_seq.NEXTVAL, #{replyContent}, #{userNo}, #{boardNo}, SYSDATE, SYSDATE )
	</insert>

	<select id="read" resultType="replyDTO">
		SELECT reply_no, reply_content,
		user_no, board_no, updateDate, replyDate FROM replies WHERE
		reply_no=#{replyNo}
	</select>

	<delete id="delete">
		DELETE FROM replies WHERE reply_no=#{replyNo}
	</delete>

	<update id="update">
		UPDATE replies SET reply_content=#{replyContent},
		updateDate= SYSDATE WHERE reply_no=#{replyNo}
	</update>
	
	<select id="getBoardReplyList" resultType="net.fiveleaves.domain.ReplyDTO">
	<![CDATA[
		SELECT  a.reply_no, a.board_no, a.reply_content, a.user_no, a.replydate, TO_CHAR(a.updatedate,'YYYY-MM-DD HH24:MI:SS') AS wr_date, b.nickname
		FROM    replies a
		       ,users b
		WHERE   a.board_no =  #{boardNo}
		AND   a.user_no = b.user_no
		ORDER BY a.reply_no
	]]>
	</select>

	<select id="getCountByBoardNo" resultType="int">
	<![CDATA[
	select count(replyNo) from replies where boardNo = #{boardNo}
	]]>
	</select>
</mapper>
